# Dependencies
node_modules/

# Build output
dist/

# Editor
.vscode/*
!.vscode/extensions.json

# Logs
*.log

# Environment
.env.local
.env.*.local

# Firebase Service Account Key
serviceAccountKey.json

# OS
.DS_Store
Thumbs.db
